
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #c7e4fc;
        }

        .container {
            width: 80%;
            margin: 0 auto;
        }

        .header {
            background-color: #333333;
            color: rgb(243, 243, 246);
            padding: 10px 0;
        }
        .frame {
                padding: 5px; /* Толщина рамки */
                background: #4c5eaf; /* Цвет рамки */
                
        }

        .header-title {
            margin: 0;
            padding: 0 0 0 20px;
        }

        .main {
            padding: 20px 0;
        }

        .footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 10px 0;
            position: bottom;
            bottom: 1;
            width: 100%;
            margin-top: +130px;
        }

        .avatar {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }

        .portfolio-menu {
            display: none;
            background-color: #e0e0e0;
            padding: 10px;
            margin-top: 10px;
        }

        .toggle-button {
            background-color: #4c5eaf;
            color: white;
            border: none;
            padding: 10px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }